service-app/xsd/LP2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Elaine Matthews (Banctec Limited) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
    <xs:element name="LP2">
        <xs:annotation>
            <xs:documentation>Application to register a lasting Power of Attorney for health and welfare</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Page1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Section1">
                                <xs:annotation>
                                    <xs:documentation>About the lastiing power of attorney</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Title" type="xs:string"/>
                                        <xs:element ref="FirstName"/>
                                        <xs:element ref="LastName"/>
                                        <xs:element name="PropertyFinancialAffairs" type="xs:boolean"/>
                                        <xs:element name="HealthWelfare" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="BURN"/>
                            <xs:element ref="PhysicalPage"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Page2">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Section2">
                                <xs:annotation>
                                    <xs:documentation>The applicant</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="DonorRegisteration" type="xs:boolean"/>
                                        <xs:element name="AttorneyRegisteration" type="xs:boolean"/>
                                        <xs:element name="Attorney" minOccurs="4" maxOccurs="4">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Title" type="xs:string"/>
                                                    <xs:element ref="FirstName"/>
                                                    <xs:element ref="LastName"/>
                                                    <xs:element ref="DOB"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="BURN"/>
                            <xs:element ref="PhysicalPage"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Page3">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Section3">
                                <xs:annotation>
                                    <xs:documentation>Who do you want to recieve the LPA?</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="TheDonor" type="xs:boolean"/>
                                        <xs:element name="AnAttorney" type="xs:boolean"/>
                                        <xs:element name="Other" type="xs:boolean"/>
                                        <xs:element name="Title" type="xs:string"/>
                                        <xs:element ref="FirstName"/>
                                        <xs:element ref="LastName"/>
                                        <xs:element name="Company" type="xs:string"/>
                                        <xs:element ref="Address"/>
                                        <xs:element name="Post" type="xs:boolean"/>
                                        <xs:element name="Phone" type="xs:boolean"/>
                                        <xs:element name="PhoneNumber" type="xs:string"/>
                                        <xs:element name="Email" type="xs:boolean"/>
                                        <xs:element name="EmailAddress" type="xs:string"/>
                                        <xs:element name="Welsh" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="BURN"/>
                            <xs:element ref="PhysicalPage"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Page4">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Section4">
                                <xs:annotation>
                                    <xs:documentation>Application Fee</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Cheque" type="xs:boolean"/>
                                        <xs:element name="Card" type="xs:boolean"/>
                                        <xs:element name="PhoneNumber" type="xs:string"/>
                                        <xs:element name="ReducedFee" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="BURN"/>
                            <xs:element ref="PhysicalPage"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Page5">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Section5">
                                <xs:annotation>
                                    <xs:documentation>Signature</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Attorney" minOccurs="4" maxOccurs="4">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="Signature"/>
                                                    <xs:element ref="Date"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="BURN"/>
                            <xs:element ref="PhysicalPage"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Page6" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Section6">
                                <xs:annotation>
                                    <xs:documentation>Additional Information</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Addresses" minOccurs="4" maxOccurs="4">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Title" type="xs:string"/>
                                                    <xs:element ref="FirstName"/>
                                                    <xs:element ref="LastName"/>
                                                    <xs:element ref="Address"/>
                                                    <xs:element name="EmailAddress" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="BURN"/>
                            <xs:element ref="PhysicalPage"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="InfoPage" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="BURN"/>
                            <xs:element ref="PhysicalPage"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Name">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Salutation"/>
                <xs:element ref="LastName"/>
                <xs:element ref="FirstName"/>
                <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Salutation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Mr" type="xs:boolean"/>
                <xs:element name="Mrs" type="xs:boolean"/>
                <xs:element name="Ms" type="xs:boolean"/>
                <xs:element name="Miss" type="xs:boolean"/>
                <xs:element name="Other" type="xs:boolean" minOccurs="0"/>
                <xs:element name="OtherName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Address1" type="xs:string"/>
                <xs:element name="Address2" type="xs:string"/>
                <xs:element name="Address3" type="xs:string"/>
                <xs:element name="Postcode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Telephone" type="xs:string"/>
    <xs:element name="DOB" type="xs:string"/>
    <xs:element name="Email" type="xs:string"/>
    <xs:element name="Attorney"/>
    <xs:element name="DXDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DXNumber" type="xs:string"/>
                <xs:element name="DXExchange" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Relationship">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CivilPartnerSpouse" type="xs:boolean"/>
                <xs:element name="Child" type="xs:boolean"/>
                <xs:element name="Solicitor" type="xs:boolean"/>
                <xs:element name="Other" type="xs:boolean"/>
                <xs:element name="OtherProfessional" type="xs:boolean"/>
                <xs:element name="OtherName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>If other or other professional, please specify</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Notification">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NoticeDate" type="xs:string"/>
                <xs:element name="LastName" type="xs:string"/>
                <xs:element name="FirstName" type="xs:string"/>
                <xs:element ref="Address"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IorWe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="I" type="xs:boolean"/>
                <xs:element name="We" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Date" type="xs:string"/>
    <xs:element name="YesorNo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Yes" type="xs:boolean"/>
                <xs:element name="No" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LastName" type="xs:string"/>
    <xs:element name="FirstName" type="xs:string"/>
    <xs:element name="Declaration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Signed" type="xs:string"/>
                <xs:element ref="Date"/>
                <xs:element ref="LastName"/>
                <xs:element ref="FirstName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CompanyName" type="xs:string"/>
    <xs:element name="Occupation" type="xs:string"/>
    <xs:element name="BURN" type="xs:string"/>
    <xs:element name="PhysicalPage" type="xs:int"/>
    <xs:element name="Signature" type="xs:boolean"/>
    <xs:element name="FullName" type="xs:string"/>
</xs:schema>
